@page "/"
@using System.Timers
<style>
    .container {
        width: 400px;
    }

    button {
        width: 100px;
        height: 100px;
        font-size: 50px;
    }
</style>
<div class="container">

    <div class="row">
        <h4>Select a difficulty:</h4>
    </div>
    
   
    <div class="row">
        @for (var animalNumber = 0; animalNumber < shuffledAnimals.Count; animalNumber++)
        {
            var animal = shuffledAnimals[animalNumber];
            var uniqueDescription = $"Button #{animalNumber}";
            <div class="col-3">
                <button @onclick="@(() => ButtonClick(animal, uniqueDescription))"
                        type="button" class="btn-outline-dark">
                    <h1>@animal</h1>
                </button>
            </div>
        }
    </div>
    <div class="row">
        <h2>Matches found: @matchesFound</h2>
    </div>
    <div class="row">
        <h2>Time: @timeDisplay</h2>
    </div>
    <div class="row">
        <h2>Scores: @scoreDisplay</h2>
    </div>

</div>
@code{
    List<string> difficultyLevel = new List<string>()
    {
            "Easy",
            "Medium",
            "Hard",

        };
    //create a list of eight pairs of emoji.
    List<string> animalEmoji = new List<string>()
{
        "🦊","🦊",
        "🐸","🐸",
        "🐏","🐏",
        "🐺","🐺",
        "🦉","🦉",
        "🐰","🐰",
        "🐯","🐯",
        "🐶","🐶",
    };

    //create a second list to store the shuffled emoji.
    List<string> shuffledAnimals = new List<string>();
    int matchesFound = 0;
    Timer timer;
    int tenthsOfSecondsElapsed = 0;
    string timeDisplay;
    int scoreDisplay = 0;

    //set up the game every time the page is reload.
    protected override void OnInitialized()
    {
        timer = new Timer(100);
        timer.Elapsed += Timer_Tick;

        SetUpGame();
    }

    //the beginning of a method that sets up the game.
    private void SetUpGame()
    {
        //create a new random generator.
        Random random = new Random();
        //create copies of the animal emoji, shuffled them,and store them in the shuffledAnimals list.
        shuffledAnimals = animalEmoji
            .OrderBy(item => random.Next())
            .ToList();

        matchesFound = 0;
        tenthsOfSecondsElapsed = 0;
        scoreDisplay = matchesFound *100;
    }
    //the end of a method the sets up the game


    string lastAnimalFound = string.Empty;
    string lastDescription = string.Empty;

    private void ButtonClick(string animal, string animalDescription)
    {
        if (lastAnimalFound == string.Empty)
        {
            //First selection of the pair. Remember it.
            lastAnimalFound = animal;
            lastDescription = animalDescription;

            timer.Start();
        }
        else if ((lastAnimalFound == animal) && (animalDescription != lastDescription))
        {
            //Match found! Reset for next pair.
            lastAnimalFound = string.Empty;

            //Replace found animals with empty string to hide them.
            shuffledAnimals = shuffledAnimals
                .Select(a => a.Replace(animal, string.Empty))
                .ToList();

            matchesFound++;
            scoreDisplay++;

            if (matchesFound == 8)
            {
                timer.Stop();
                timeDisplay += " - Play Again?";
                SetUpGame();
            }
        }
        else
        {

            //User selected a pair that don't match.
            //Reset selection.
            lastAnimalFound = string.Empty;

        }

    }
    private void Timer_Tick(Object source, ElapsedEventArgs e)
    {
        InvokeAsync(() =>
        {
            tenthsOfSecondsElapsed++;
            timeDisplay = (tenthsOfSecondsElapsed / 10F)
                .ToString("0.0s");
            StateHasChanged();
        });
    }
    /******* 
    Change this game become a memorized game.
    Set up a button to start the game
    At the first two second player can saw all the emoji.
    Then, these emojis should be invisible.
    Players need to use their memory to find the corresponding pairing.******/

    /***********
    -------------------------------- For REQUIREMENT A --------------------------------------
    Get 100 pts when the player find a pair;
    Easy: There is only one chance. The game ends when the player chooses the wrong pair for the second time.
    Medium: There are three chances, The game ends when the player chooses the wrong pair for the fourth time.
    Hard: There are Five chances, The game ends when the player chooses the wrong pair for the sixth time.
                                                                                                            ***********/


    /***********
    -------------------------------- For REQUIREMENT B --------------------------------------
    I will set up this matching game in three difficulties: Easy, Medium and Hard.
    Player can click a button before they start the game. 
    Easy: 4pairs
    "🦊","🦊",
    "🐸","🐸",
    "🐏","🐏",
    "🐺","🐺".
    Medium: 8pairs
    "🦊","🦊",
    "🐸","🐸",
    "🐏","🐏",
    "🐺","🐺",
    "🦉","🦉",
    "🐰","🐰",
    "🐯","🐯",
    "🐶","🐶".
    Hard: 16pairs
    "🦊","🦊","🐭","🐭",
    "🐸","🐸","🦁","🦁",
    "🐺","🐺","🐷","🐷",
    "🐰","🐰","🦋","🦋",
    "🐶","🐶","🐼","🐼",
    "🐏","🐏","🐤","🐤",
    "🦉","🦉","🐵","🐵",
    "🐯","🐯","🐹","🐹".
                                                                                                                 ******/
    /**********
    -------------------------------- For REQUIREMENT C --------------------------------------
    Make the game timer count down instead of up. If the timer reaches 0 before all matches are made, the player loses.
    Add a variable to keep track of the shortest time to complete all matches
                                                                                                              *********/
}