@page "/"
@using System.Timers
<style>
    .container {
        width: 400px;
    }

    button {
        width: 100px;
        height: 100px;
        font-size: 50px;
    }


</style>
<div class="container">


    <div class="row">
        @for (var animalNumber = 0; animalNumber < shuffledAnimals.Count; animalNumber++)
        {
            var animal = shuffledAnimals[animalNumber];
            var uniqueDescription = $"Button {animalNumber}";
            var hidEmoji = hiddenEmoji[animalNumber];
            int index = animalNumber;
            <div class="col-3">
                <button @onclick="@(() => ButtonClick(animal, uniqueDescription, index))"
                        type="button" class="btn-outline-dark">
                    <h1>@hiddenEmoji[animalNumber]</h1>
                </button>
            </div>
        }
    </div>
    <div class="row">
        <h2>Matches found: @matchesFound</h2>
    </div>
    <div class="row">
        <h2>Time: @timeDisplay</h2>
    </div>
    <div class="row">
        <h2>Scores: @scoreDisplay</h2>
    </div>
</div>
@code{

    //create a list of eight pairs of emoji.
    List<string> animalEmoji = new List<string>()
{
        "🦊","🦊",
        "🐸","🐸",
        "🐏","🐏",
        "🐺","🐺",
        "🦉","🦉",
        "🐰","🐰",
        "🐯","🐯",
        "🐶","🐶",
    };
    //create a list of eight pairs to hide all the emoji.
    List<string> hiddenEmoji = new List<string>()
{
        "🚩","🚩",
        "🚩","🚩",
        "🚩","🚩",
        "🚩","🚩",
        "🚩","🚩",
        "🚩","🚩",
        "🚩","🚩",
        "🚩","🚩",
    };


    //create a second list to store the shuffled emoji.
    List<string> shuffledAnimals = new List<string>();

    int matchesFound = 0;
    Timer timer;
    int tenthsOfSecondsElapsed = 0;
    string timeDisplay;

    int scoreDisplay = 0;

    //set up the game every time the page is reload.
    protected override void OnInitialized()
    {
        timer = new Timer(100);
        timer.Elapsed += Timer_Tick;

        SetUpGame();
    }

    //the beginning of a method that sets up the game.
    private void SetUpGame()
    {
        //create a new random generator.
        Random random = new Random();
        //create copies of the animal emoji, shuffled them,and store them in the shuffledAnimals list.
        shuffledAnimals = animalEmoji
            .OrderBy(item => random.Next())
            .ToList();

        matchesFound = 0;
        tenthsOfSecondsElapsed = 450; //Set up the time:45s

        //reset the hidden emoji. Let it get back to the beginning
        for (int h = 0; h < hiddenEmoji.Count; h++)
        {
            hiddenEmoji[h] = "🚩";
        }
    }
    //the end of a method the sets up the game


    string lastAnimalFound = string.Empty;
    string lastDescription = string.Empty;
    int firstSelected;
    int lastSelected;

    private void ButtonClick(string animal, string animalDescription, int index)
    {
        if ((lastAnimalFound == string.Empty) && (hiddenEmoji[index] != string.Empty))
        {
            if (hiddenEmoji[firstSelected] != string.Empty)
            {
                hiddenEmoji[firstSelected] = "🚩";
                hiddenEmoji[lastSelected] = "🚩";
            }

            //First selection of the pair. Remember it.
            lastAnimalFound = animal;
            lastDescription = animalDescription;
            firstSelected = index; // Record the first clicked button's index

            hiddenEmoji[index] = animal;

            timer.Start();
        }

        else if ((lastAnimalFound == animal) && (animalDescription != lastDescription) && (hiddenEmoji[index] != string.Empty))
        {
            //Match found! Reset for next pair.
            lastAnimalFound = string.Empty;
            hiddenEmoji[index] = animal;
            //Replace found animals with empty string to hide them.
            hiddenEmoji = hiddenEmoji
            .Select(a => a.Replace(animal, string.Empty))
            .ToList();

            matchesFound++;
            scoreDisplay += 100;// 1 pair of emojis found get 1(and I want to let 1 pair worth 100point I don't know where can I put and How to do multiplication)

            if (matchesFound == 8)
            {
                timer.Stop();
                timeDisplay += " - Play Again?";


                SetUpGame();
            }
        }
        else if (hiddenEmoji[index] != string.Empty)
        {

            //User selected a pair that don't match.
            //Reset selection.
            lastAnimalFound = string.Empty;
            lastSelected = index;
            hiddenEmoji[index] = animal;

        }

    }
    private void Timer_Tick(Object source, ElapsedEventArgs e)
    {
        InvokeAsync(() =>
        {//let the time countdown
            tenthsOfSecondsElapsed--;
            timeDisplay = (tenthsOfSecondsElapsed / 10F)
                .ToString("0.0s");
            if (tenthsOfSecondsElapsed <= 0)
            {
                timer.Stop();
                timeDisplay = "0.0s - You lost!";
                lastAnimalFound = string.Empty;
                SetUpGame();
            }

            StateHasChanged();
        });
    }
}


    